.Board{
 
    width:850px;
    height:850px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-image:url("../../assets/plank.png");
    background-size: 100%;
    background-position: center;
    padding:1em;
}

.importedBoard{
     width:850px;
    height:850px;
}

