@use "src/styles/Variables.scss" as v;

.navigationContainer {
  width: 14em;
  height: 80vh;
  color: v.$border-color;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__home,
  &__rules,
  &__ranking,
  &__rivals {
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
    width: 6em;
    font-size: 2em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #fffcf4c9;
    color: v.$border-color;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  &__home:hover,
  &__rules:hover,
  &__ranking:hover,
  &__rivals:hover {
    text-align: center;
    background-color: rgb(182, 159, 135);
    color: white;
    transition-duration: 1s;
    box-shadow: 2px 3px 3px v.$border-color;
  }

}
