@use "src/styles/Variables.scss" as v;

.register {
  
  width: 60em;
  max-width: 60em;
  height: 30em;
  max-height: 30em;
  border-radius: 0.5em;
  background-color: rgb(182, 159, 135);
  border: 2px solid v.$border-color;
  z-index: 10;

  &__title {
    color: v.$border-color;
    background-color: rgb(255, 252, 244);
    border: 2px solid v.$border-color;
    font-size: 1.5em;
    width:30em;
    padding: 0.5em;
    margin-left:1em;
    margin-top: 0.5em;
     font-family: 'BioRhyme',serif;
  
  }

  &__form {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    &__left {
      display: flex;
      flex-direction: column;
      gap: 15px;

      & > input[type="submit"] {
        background-color: v.$border-color;
        border: 2px solid rgb(255, 252, 244);
        height: 60px;
        width: 200px;
        color:rgb(255, 252, 244);
        font-family: 'cabin',serif;
        font-size: 1.5em;
        border-radius: 0.75em;
        margin-top: 50px;
        transition-duration: 1s;
       
      }
      & > input[type="submit"]:hover {
        background-color: rgb(255, 252, 244);
        border: 1px solid v.$border-color;
        color: v.$border-color;
        transition-duration: 1s;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 3.85em;

      & > input {
        height: 50px;
      }
    }
  }
}

.input__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  gap: 15px;
  background-color: rgb(255, 252, 244);
  border: 1px solid v.$border-color;
  width: 375px;
  height: 45px;
  border-radius: 0.5em;
  color: v.$text-color;

  & > input {
    height: 20px;
    color: v.$text-color;
    border: 1px solid v.$border-color;
    background-color: v.$primary-color;
  }
}

.error {
  color: red;
  font-size: 0.8em;
  margin: -12px 0;
  font-family: 'cabin',serif;
}
