$text-color: #1e1e24;
$lighter-color: #fffbe1;
$border-color: #441904;
$primary-color: #fffbe1;


$board-color:burlywood;
$cases-and-backHouse-color:beige;
$yellowsSegments-color: rgb(255, 230, 0);
$greensSegments-color: rgb(8, 129, 18);
$bluesSegments-color: rgb(17, 104, 216);
$redsSegments-color: rgb(206, 30, 30);