$text-color: #1e1e24;
$lighter-color: #fffbe1;
$border-color: #441904;
$primary-color: #fffbe1;


$board-color:burlywood;
$cases-and-backHouse-color:beige;
$yellowsSegments-color: #ffe600;
$greensSegments-color: #088112;
$bluesSegments-color: #1168d8;
$redsSegments-color: #ce1e1e;
$security-color: #1e1e24;

